patterns/lowresTestC64/pattern_00071.bmp
*.bmp
AliTestingReg/dct2blk.m
AliTestingReg/fun_Phi_rec_DCT.m
AliTestingReg/fun_Phi_rec_DCT_SWIR.m
AliTestingReg/fun_Phi_rec_TVAL3.m
AliTestingReg/fun_Phi_rec_Wave.m
AliTestingReg/fun_Phi_rec_Wave_SWIR.m
AliTestingReg/MTFsimulate.m
utils/WindowAPI.m
c_code/sourceFile.cpp
captureCalib/Debug/captureCalib.pdb
c_code/sourceFile(RGB8).cpp
c_code/sourceFile(RAW8).cpp
captureCalib/Release/captureCalib.pdb
captureCalib/Debug/captureCalib.ilk
captureCalib/Debug/captureCalib.exe
*.tlog
captureCalib/captureCalib/Release/captureCalib.obj
*.log
*.props
*.obj
captureCalib/captureCalib/captureCalib.vcxproj.filters
*.vcxproj
*.cpp
captureCalib/captureCalib.sln
*.idb
captureCalib/captureCalib.sdf
*.opensdf
captureCalib/captureCalib.v12.suo
*.pdb
utils/WindowAPI.c
utils/WindowAPI.mexw64
*.asv
AliTestingReg/MTFanalysis.m
captureCalib/Release/captureCalib.exe